In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

In [13]:
data = pd.read_csv("processed.cleveland.data", header=None)
data.head(3)

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1

У нас есть 13 признаков и 1 целевая переменная - нужно определить есть сердечно-сосудистые заболевания или нет. Поле "цель" относится к наличию у пациента сердечно-сосудистых заболеваний. Это целое число, равное от 0 (отсутствие присутствия) до 4. Эксперименты с базой данных Кливленда были сосредоточены на простой попытке отличить присутствие (значения 1,2,3,4) от отсутствия (значение 0).

In [14]:
print(data.shape)

(303, 14)

In [15]:
data[13].value_counts()

0    164
1     55
2     36
3     35
4     13
Name: 13, dtype: int64

Переименуем столбец с целевой переменной и сделаем ее бинарной. 0 - отсутсвие сердечно сосудистых заболеваний. 1,2,3,4 - наличие

In [16]:
data.loc[data[13] != 0, 13] = 1
data.rename(columns={13: 'target'}, inplace=True)
data['target'] = pd.to_numeric(data['target'])

data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [18]:
for i in range(12):
    data[i] = pd.to_numeric(data[i], errors='coerce')

data = data.fillna(0)

In [19]:
data.iloc[:, -1].value_counts()

0    164
1    139
Name: target, dtype: int64

In [20]:
x_train, x_test, y_train, y_test = train_test_split(data.drop('target', 1), 
                                                    data['target'], test_size=0.3, random_state=42)